:root {
  --color-1: #1C1B1F;
  --color-2: #F4EFF4;
  --color-3: #6750A4;
  --color-4: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: clamp(0px, calc(16 / 600 * 100vmin), 16px);
}

body {
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  line-height: 1.65;
  background: var(--color-4);
  color: var(--color-1);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.container {
  max-width: 55rem;
  margin: 0 auto;
  padding: 1.5rem;
}

.header {
  background: var(--color-1);
  color: var(--color-2);
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav a {
  margin-left: 1.5rem;
  text-decoration: none;
  font-size: 1.25rem;
}

.hero {
  text-align: center;
  background: var(--color-2);
}

.xl {
  background-color: var(--color-1);
  color: var(--color-2);
  font-size: 5rem;
  height: 12rem;
  width: 12rem;
  border-radius: 2.3rem;

  display: flex;
  justify-content: center;
  align-items: center;

  margin-inline: auto;
}

.btn {
  display: inline-block;
  margin: 1.5rem auto 0;
  padding: .75rem 2rem;
  background: var(--color-3);
  color: var(--color-4);
  text-decoration: none;
  border-radius: 1rem;
  font-size: 1.45rem;
  letter-spacing: .05rem;
}

.trackables {
  text-align: center;
}

.features {
  background: var(--color-4);
  text-align: center;
}

.feature-row {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  margin-top: 1.5rem;
}

.feature-box {
  flex: 1 1 30%;
  padding: 1.5rem;
  background: var(--color-2);
  border-radius: 1rem;
  text-align: left;
}

.support{
  background: var(--color-2);
  text-align: center;
}

.footer {
  background: var(--color-1);
  color: white;
  text-align: center;
  padding: 1.5rem;
}

.footer a {
  margin-left: 0.5rem;
}

/* BRAND */

.logo {
  font-weight: 200;
  letter-spacing: .05rem;
}

.left {
  text-align: left;
}

.spacer-s {
  margin-bottom: .25rem;
}

.spacer-m {
  margin-bottom: .75rem;
}

.spacer-l {
  margin-bottom: 2.5rem;
}

a {
  color: var(--color-2);
  text-decoration: none;
}

p {
  font-size: 1.4rem;
  font-weight: 400;
}

p > a, li > a {
  color: var(--color-3);
}

p b {
  font-weight: 600;
}

p.secondary {
  opacity: 0.8;
  font-size: 1.25rem;
}

p.quote {
  opacity: 0.8;
  font-size: 1.75rem;
}

h2 {
  color: var(--color-1);
  font-size: 3.3rem;
  font-weight: 800;
  line-height: 1.3;
}

h3 {
  color: var(--color-3);
  font-size: 2rem;
  font-weight: 400;
}

h4 {
  font-size: 1.5rem;
}

section {
  padding: 3rem 2rem;
}

/* Small screens */
@media (max-width: 45rem) {

  .feature-box {
    flex: 1 1 100%;
  }

  section {
    padding: 2rem 0rem;
  }

}

.no-italics {
  font-style: normal;
}
